<!DOCTYPE html>
<html>
  <head>
    <title>Select</title>
    <link rel="stylesheet" href="/resources/bootstrap" />
  </head>

  <body>
    <div style="text-align: center">
      <div class="title" style="margin: 30px">
        <h1>Select Merlin.</h1>
      </div>
      <form method="POST">
        <% for(let i = 0; i < characters.length; i++) {%>

        <div style="margin: 10px">
          <input
            class="btn btn-info"
            type="submit"
            value="<%=characters[i]%>"
            name="person"
            id="flexCheckDefault<%=i%>"
          />
        </div>
        <%} %>
      </form>

      <a
        href="/game/<%=lobbyCode%>/character"
        class="btn btn-dark"
        style="margin: 30px"
        >Back</a
      >
    </div>
  </body>
</html>
