<!DOCTYPE html>
<html>
  <head>
    <title>Avalon</title>
    <link rel="stylesheet" href="/resources/bootstrap" />
    <link rel="stylesheet" href="/resources/style" />
  </head>

  <body>
    <div class="title">
      <h1 style="padding: 50px">Avalon</h1>
    </div>

    <div style="text-align: center; padding: 50px">
      <%for(let i = 0; i < score.length; i++){ if(score[i] === 'mordred'){%>
      <span class="dot-mordred"></span>
      <%} if(score[i] === 'arthur'){%>
      <span class="dot-arthur"></span>
      <%} if(score[i] === 'empty'){%>
      <span class="dot-empty"></span>
      <%}}%>
    </div>

    <div style="text-align: center">
      <h4>King: <%=king%></h4>
    </div>

    <div style="text-align: center">
      <div style="size: 300px">
        <a
          type="button"
          class="btn btn-warning"
          href="/game/<%=lobbyCode%>/voting"
          >Vote</a
        >
        <a
          type="button"
          class="btn btn-dark"
          href="/game/<%=lobbyCode%>/character"
          >Character</a
        >
		
		<%if(isKing){%>
		<a
          type="button"
          class="btn btn-info"
          href="/game/<%=lobbyCode%>/select"
          >Select for adventure</a
        >
		<%}%>
      </div>
    </div>
  </body>
</html>
