<!DOCTYPE html>
<html>
  <head>
    <title>Avalon</title>
    <link rel="stylesheet" href="/resources/bootstrap" />
    <link rel="stylesheet" href="/resources/style" />
  </head>

  <body>
    <div class="title">
      <h1 style="padding: 50px">Avalon</h1>
    </div>

    <div style="text-align: center; padding: 50px">
      <span class="dot-mordred"></span>
      <span class="dot-arthur"></span>
      <span class="dot-mordred"></span>
      <span class="dot-arthur"></span>
      <span class="dot-empty"></span>
    </div>

    <div style="text-align: center">
      <div style="size: 300px">
        <a type="button" class="btn btn-warning" href="/game/voting">Vote</a>
        <a type="button" class="btn btn-dark" href="/game/character"
          >Character</a
        >
      </div>
    </div>
  </body>
</html>
