<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" http-equiv="refresh" content="5" />
    <title>Lobby</title>
    <link rel="stylesheet" href="/resources/bootstrap" />
    <link rel="stylesheet" href="/resources/style" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <div>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-nav ml-auto">
          <a
            class="btn btn-outline-success"
            type="button"
            href="/join/<%=lobbyCode%>/settings"
          >
            Settings
          </a>
        </div>
      </div>
    </nav>

    <h1 style="padding: 30px; text-align: center">Players in the lobby:</h1>

    <div style="text-align: center; padding-bottom: 30px">
      <% for(let i = 0; i < players.length; i++){%>
      <h4><%=players[i]%></h4>
      <%}%>
    </div>
    <div class="row">
      <div class="col text-center">
        <a class="btn btn-primary" href="/game/<%=lobbyCode%>/start">Start</a>
      </div>
    </div>
  </body>
</html>
