<!DOCTYPE html>
<html>
  <head>
    <title>Settings</title>

    <link rel="stylesheet" href="/resources/bootstrap" />
    <link rel="stylesheet" href="/resources/style" />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div
      class="form-check allign-text-center"
      style="padding-bottom: 50px; padding-top: 20px"
    >
      <h1>Settings</h1>
    </div>

    <form method="POST">
      <div class="form-check allign-text-center">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Assassin
        </label>
      </div>

      <div class="form-check allign-text-center">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault"> Mordred </label>
      </div>

      <div class="form-check allign-text-center">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault"> Morgana </label>
      </div>

      <div class="form-check allign-text-center">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault"> Oberon </label>
      </div>

      <div class="form-check allign-text-center">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Percival
        </label>
      </div>

      <div class="form-check allign-text-center">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault"> Arnold </label>
      </div>

      <div class="row-buttons-mine allign-text-center" style="margin: 50px">
        <button type="submit" class="btn btn-success" href="/join/<%=lobbyCode%>">
          Select
        </button>
      </div>
    </form>
  </body>
</html>
