<!DOCTYPE html>
<head>
  <title>Voting in progress</title>
</head>
<div style="text-align: center">
  <h1>Voting is still in progress!</h1>
  <h3>Waiting for <%=remaining%> people</h3>
</div>
<body></body>
