<!DOCTYPE html>
<html>
  <head>
    <title>Voting</title>
    <link rel="stylesheet" href="/resources/bootstrap" />
    <link rel="stylesheet" href="/resources/style" />
  </head>

  <body>
    <div class="title">
      <h1>Voting</h1>
    </div>

    <div style="text-align: center">
      <h4>Selected players:</h4>
      <% for(let i = 0; i < players.length; i++){%>
      <h5><%=players[i]%></h5>
      <%}%>
    </div>

    <div class="row-buttons-mine">
      <div class="success">
        <a type="button" class="btn btn-success" href="/game/<%=lobbyCode%>"
          >Success</a
        >
      </div>
      <div class="failure">
        <a type="button" class="btn btn-danger" href="/game/<%=lobbyCode%>"
          >Failure</a
        >
      </div>
    </div>
  </body>
</html>
