<!DOCTYPE html>
<html>
  <head>
    <title>Voting</title>
    <link rel="stylesheet" href="/resources/bootstrap" />
    <link rel="stylesheet" href="/resources/style" />
  </head>

  <body>
    <div class="title">
      <h1>Voting</h1>
    </div>

    <form method="POST">
      <div class="row-buttons-mine">
        <div class="success">
          <input
            type="submit"
            id="btn-success"
            name="action"
            class="btn btn-success"
            value="Success"
            href="/game/<%=lobbyCode%>/adventure"
          />
        </div>
        <div class="failure">
          <input
            type="submit"
            id="btn-fail"
            name="action"
            class="btn btn-danger"
            value="Failure"
            href="/game/<%=lobbyCode%>/adventure"
          />
        </div>
      </div>
    </form>
  </body>
</html>
