<!DOCTYPE html>
<html>
    <head>
        <title>
            Character
        </title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div style="text-align: center;">
            <div style="margin: 30px;"><p>
                <h1>Character</h1>
                <h2>Picture</h2>
                    Description</p>
            </div>
            <div>
                <h1>Evil:</h1>
                <p>character1
                    character2
                    character3
                </p>
            </div>
        </div>
<div class="allign-text-center">
     <button type="button" class="btn btn-dark">Back</button>
</div>
       
    </body>
</html>