<!DOCTYPE html>
<html>
  <head>
    <title>Character</title>
    <!--  <link rel="stylesheet" href="/resources/bootstrap">
        <link rel="stylesheet" href="/resources/style"> -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Character</h1>
      <div class="content">
        <div class="picture">
          <h2>Picture</h2>
        </div>
        <div class="info">
          <p>Description</p>
          <h2>Evil:</h2>
          <p>character1 character2 character3</p>
        </div>
      </div>
      <div>
        <a type="button" href="/game">Back</a>
      </div>
    </div>
  </body>
</html>
