<!DOCTYPE html>
<html>
  <head>
    <title>Avalon</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="title">
      <h1 style="padding: 50px">Avalon</h1>
    </div>

    <div style="text-align: center; padding: 50px">
      <span class="dot-mordred"></span>
      <span class="dot-arthur"></span>
      <span class="dot-mordred"></span>
      <span class="dot-arthur"></span>
      <span class="dot-empty"></span>
    </div>

    <div style="text-align: center">
      <div style="size: 300px">
        <button type="button" class="btn btn-warning">Vote</button>
        <button type="button" class="btn btn-dark">Character</button>
      </div>
    </div>
  </body>
</html>
