<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Home</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css" />

</head>
<body>
<div class="title">
  <h1>Avalon</h1>
</div>
<div class="row-buttons-mine">
  <div class="success">
    <a type="button" class="btn btn-outline-success" href='lobby.html'>Create lobby</a>
  </div>
  <div class="failure">
    <button type="button" class="btn btn-outline-success" >Join lobby</button>
  </div>
</div>

</body>
</html>