<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/resources/bootstrap" />
    <link rel="stylesheet" href="/resources/style" />
  </head>
  <body>
    <div class="title">
      <h1>Avalon</h1>
    </div>
    <div class="row-buttons-mine">
      <div class="success">
        <a type="button" class="btn btn-outline-success" href="/join/new"
          >Create lobby</a
        >
      </div>
      <div>
        <label for="lobby_code">Lobby code</label>
        <input type="lobby_code" name="lobby_code" id="lobby_code" />
      </div>
      <div class="failure">
        <a type="button" class="btn btn-outline-success"> Join lobby </a>
      </div>
    </div>
  </body>
</html>
