<!DOCTYPE html>
<html>

<head>
    <title>Select</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="title">
        <h1>Select the people who you want to go on the adventure.</h1>
    </div>
    <!--
    <div class="container" style="text-align: center">
      <div class="voting-cells">s
        <button type="button" class="btn btn-warning voting-btn">
          Person1
        </button>
        <button type="button" class="btn btn-warning voting-btn">
          Person2
        </button>
        <button type="button" class="btn btn-warning voting-btn">
          Person3
        </button>
        <button type="button" class="btn btn-warning voting-btn">
          Person4
        </button>
        <button type="button" class="btn btn-warning voting-btn">
          Person5
        </button>
      </div>
      <div class="voting cells">
        <button type="button" class="btn btn-warning voting-btn">
          Person6
        </button>
        <button type="button" class="btn btn-warning voting-btn">
          Person7
        </button>
        <button type="button" class="btn btn-warning voting-btn">
          Person8
        </button>
        <button type="button" class="btn btn-warning voting-btn">
          Person9
        </button>
        <button type="button" class="btn btn-warning voting-btn">
          Person10
        </button>
      </div>
-->

    <div class="form-check allign-text-center"">
    <input class=" form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Person1
        </label>
    </div>

    <div class="form-check allign-text-center"">
    <input class=" form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Person2
        </label>
    </div>


    <div class="form-check allign-text-center"">
    <input class=" form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Person3
        </label>
    </div>


    <div class="form-check allign-text-center"">
    <input class=" form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Person4
        </label>
    </div>


    <div class="form-check allign-text-center"">
    <input class=" form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Person5
        </label>
    </div>


    <div class="form-check allign-text-center"">
    <input class=" form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Person6
        </label>
    </div>


    <div class="form-check allign-text-center"">
    <input class=" form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Person7
        </label>
    </div>

    <div class="form-check allign-text-center"">
    <input class=" form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Person8
        </label>
    </div>

    <div class="form-check allign-text-center"">
    <input class=" form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Person9
        </label>
    </div>

    <div class="form-check allign-text-center"">
    <input class=" form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Person10
        </label>
    </div>


    <div class="row-buttons-mine allign-text-center" style="margin: 50px">
        <button type="button" class="btn btn-info">Clear</button>
        <a type="button" class="btn btn-success" href='gamescore.html'>Select</a>
    </div>
</body>

</html>