<!DOCTYPE html>
<html>
  <head>
    <title>Voting</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="title">
      <h1>Voting</h1>
    </div>

    <div class="row-buttons-mine">
      <div class="success">
        <button type="button" class="btn btn-success">Success</button>
      </div>
      <div class="failure">
        <button type="button" class="btn btn-danger">Failure</button>
      </div>
    </div>
  </body>
</html>
